*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BG COLORS FOR LAYOUT */

.bgc-red{
    background-color: red;
}

.bgc-yellow{
    background-color: yellow;
}

.bgc-blue{
    background-color: lightskyblue;
}

.bgc-black{
    background-color: rgba(0, 0, 0, 0.515);
}

.bgc-pink{
    background-color: lightpink;
}

.bgc-dark{
    background-color: blue;
}

/* MACRO LAYOUT */


/* sidebar layout */
.sidebar{
    height: 90vh;
    width: 20%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar .row{
    width: 100%;
}

.menù{
    height: 300px;
}

.user{
    height: 100px;
}

/* topbar layout */

.topbar{
    height: 60px;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

/* main layout */

.main{
    height: 2000px;
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* footer layout */

.footer{
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.player-bar{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.col-sm{
    width: 20%;
    height: 100%;
}

.col-md{
    width: 40%;
    height: 100%;
}


