*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border:0.2px solid black;
}

/* BG COLORS FOR LAYOUT */

.bgc-red{
    background-color: red;
}

.bgc-main{
    background-color: rgb(20,25,34);
}

.bgc-blue{
    background-color: lightskyblue;
}

.bgc-black{
    background-color: rgba(0, 0, 0, 0.515);
}

.bgc-pink{
    background-color: lightpink;
}

.bgc-dark{
    background-color: blue;
}

/* TOPBAR */

.topbar{
    height: 80px;
    width: calc(100% - 150px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

/* SIDEBAR */
.sidebar{
    height: calc(100vh - 80px);
    width: 150px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar .row{
    width: 100%;
}

/* MAIN */

.main{
    width: calc(100% - 150px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    padding: 80px 0;
    color: white;
}

.menù-main{
    width: 100%;
}

.menù-main ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.menù-main ul li{
    list-style-type: none;
    margin: 0 10px;
}


.title {
    margin: 0.5rem;
}

section .row, .album{
    width: 100%;
}
.album, .album-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album-2{
    justify-content: flex-start;
}

.album .col, .album-2 .col{
    max-width: 12.5rem;
    width: calc(100% / 6 - 0.5rem);
    margin: 0.5rem 0.25rem;
}

h5{
    text-align: center;
    font-size: 0.75em;
}

h6, li h5{
    color: rgb(97,101,106);
}

.album-content h6{
    text-align: center;
}

.album-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.album-content img{
    width: 100%;
}

/* FOOTER */

.footer{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.player{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.col-sm{
    width: 20%;
}

.col-md{
    width: 40%;
}



/* RESPOSIVE SCREENS */

/* MEDIUM */

@media screen and (max-width: 768px) {

    .main{
        width: calc(100% - 150px);
    }

    .album .col, .album-2 .col{
        width: calc(100% / 4 - 0.5rem);
        margin: 0.5rem 0.25rem;
    }

    .album{
        justify-content: flex-start;
    }

}

@media screen and (max-width: 576px) {

    .main{
        width: calc(100% - 150px);
    }

    .album .col, .album-2 .col{
        width: calc(100% / 2 - 0.5rem);
        margin: 0.5rem 0.25rem;
    }

    .album{
        justify-content: flex-start;
    }
}

